@use "colours";

.auth-page {
	display: flex;
	justify-content: center;
	align-items: center;

	.toggle-parent {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px;
		cursor: pointer;
		.toggle-login-signup {
			flex: 1 50%;
			text-align: center;
		}

		.toggle-active {
			border-bottom: solid 1px red;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		input {
			margin: 20px;
		}

		p {
			color: red;
		}
	}
}
